<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
  <div class="row">
    <div class="col ">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav aria-label="Page navigation example" class="d-flex justify-content-between align-items-center">
        <div class="col">
          <select class="form-select" id="orderby" onchange="changeParams()">
            <option value="sid_asc">預設(編號升冪)</option>
            <option value="sid_desc">編號降冪</option>
            <option value="birthday_asc">生日升冪</option>
            <option value="birthday_desc">生日降冪</option>
          </select>
        </div>
        <div class="col ms-1">
          <form class="d-flex" role="search" onsubmit="changeParams(event)">
            <input class="form-control me-2" type="search" name="search" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <div class="col">
          <ul class="pagination d-flex justify-content-center align-items-center mt-3">
            <% for(let i=page-5; i<=page+5; i++) 
            if(i>=1 && i<=totalPages){ %>
            <li class="page-item <%= i==page ? 'active' : '' %>">
              <a class="page-link" href="javascript: gotoPage(<%= i %>)"><%= i %></a>
            </li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>
              <i class="fa-solid fa-trash-can"></i>
            </td>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">email</th>
            <th scope="col">手機</th>
            <th scope="col">生日</th>
            <th scope="col">地址</th>
            <td>
                <i class="fa-solid fa-pen-to-square"></i>
            </td>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows){ %>
          <tr>
            <td><a href="javascript: deleteitem(<%= r.sid %>)"><i class="fa-solid fa-trash-can"></i></a></td>
            <td><%= r.sid %></td>
            <td><%= r.name %></td>
            <td><%= r.email %></td>
            <td><%= r.mobile %></td>
            <td><%= toDateString(r.birthday) %></td>
            <td><%= r.address %></td>
            <td>
              <a href="<%= baseUrl %>/edit/<%= r.sid %>">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('parts/script') %>
<script>
    const usp = new URLSearchParams(location.search);
    const searchInput = document.querySelector('input[name=search]');
    const orderbySel = document.querySelector('#orderby');

    if(usp.get('search')){
      // 把搜尋的關鍵字放入搜尋欄位
      searchInput.value = usp.get('search')
    }
    if(usp.get('orderby')){
      orderbySel.value = usp.get('orderby')
    }
    // 跳到第幾頁
    const gotoPage = (page) => {
      usp.set('page',page)
      location.href = '?' + usp.toString();
    }

    // 設定關鍵字或變更排序
    const changeParams = (event=null) =>{
      if(event) event.prevntDefault();
      usp.set('page', 1);

      usp.set('orderby', orderbySel.value);
      usp.set('search',searchInput.value);

      location.href = '?' + usp.toString();
    }

    function deleteitem(sid){
      if(! confirm(`確定要刪除編號為${sid}的資料嗎?`)){
        return;
      }
      fetch(`<%= baseUrl %>/${sid}`,{
          method:'DELETE',
      }).then(r => r.json())
      .then(data=>{
        console.log(data);
        if(data.success){
          location.reload();
        }
      })
    }  
</script>
<%- include('parts/html-foot') %>
