<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
  <div class="row">
    <div class="col ">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav aria-label="Page navigation example" class="d-flex justify-content-between align-items-center">
        <ul class="pagination d-flex justify-content-center align-items-center m-2">
          <% for(let i=page-5; i<=page+5; i++) 
          if(i>=1 && i<=totalPages){ %>
          <li class="page-item <%= i==page ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
          </li>
          <% } %>
        </ul>
        <form class="d-flex justify-content-center" role="search">
            <input class="form-control me-2" type="search" name="search" placeholder="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>
              <i class="fa-solid fa-trash-can"></i>
            </td>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">email</th>
            <th scope="col">手機</th>
            <th scope="col">生日</th>
            <th scope="col">地址</th>
            <td>
                <i class="fa-solid fa-pen-to-square"></i>
            </td>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows){ %>
          <tr>
            <td><a href="javascript: deleteitem(<%= r.sid %>)"><i class="fa-solid fa-trash-can"></i></a></td>
            <td><%= r.sid %></td>
            <td><%= r.name %></td>
            <td><%= r.email %></td>
            <td><%= r.mobile %></td>
            <td><%= toDateString(r.birthday) %></td>
            <td><%= r.address %></td>
            <td>
              <a href="<%= baseUrl %>/edit/<%= r.sid %>">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('parts/script') %>
<script>
    function deleteitem(sid){
      if(! confirm(`確定要刪除編號為${sid}的資料嗎?`)){
        return;
      }
      fetch(`<%= baseUrl %>/${sid}`,{
          method:'DELETE',
      }).then(r => r.json())
      .then(data=>{
        console.log(data);
        if(data.success){
          location.reload();
        }
      })
    }  
</script>
<%- include('parts/html-foot') %>
